# open-meteo
open-meteo/__pycache__/
open-meteo/scripts/.cache.sqlite
open-meteo/.cache.sqlite
*.pyc


**/target/
**/.idea/
**/bsp/
**/.bsp/
**/metastore_db/



# data
data/


#airflow
orchestrator/config/
orchestrator/dags/__pycache__/
orchestrator/logs/
plugins/
